@import "mirotone/dist/styles.css";

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  margin: var(--space-medium);
  margin-top: 0;
}

.giphy-search-bar {
  margin-bottom: var(--space-xsmall);
  box-shadow: inset 0 0 0 1px var(--indigo400);
  padding-left: 1px;
}
