.breakout-starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.breakout-starter .waiting-icon {
  margin: auto;
}

.starter-action {
  background: var(--blue300);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: default;
  display: flex;
  padding: var(--space-small);
  gap: var(--space-small);
  align-items: center;
  align-self: flex-start;
  width: 100%;
}

.starter-action .starter-action-title {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.5em;
  text-align: left;
  color: var(--blue700);
  margin: 0;
}

.starter-action:hover {
  background: var(--blue400);
  cursor: pointer;
}

.starter-action:hover .starter-action-title {
  color: var(--blue900);
}

.starter-action:hover .rounded-plus {
  background-color: var(--blue900);
}

.rounded-plus {
  border-radius: var(--border-radius-circle);
  background-color: var(--blue700);
  padding: var(--space-xsmall);
}

.rounded-plus svg {
  color: var(--white);
}