*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 20px 24px;
}

.container {
  max-width: 580px;
  margin: 0 auto;
  background-color: var(--indigo50);
  padding: var(--space-xxxlarge);
  border-radius: var(--border-radius-xlarge);
}

img {
  max-width: 100%;
}

.button {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
}

.grid div {
  margin-bottom: 10px;
}

.grid div:last-child {
  margin-top: 10px;
}
