html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #09043c;
  font: 14px OpenSans, Arial, Helvetica, sans-serif;
}

* {
  user-select: none;
}

#react-app {
  height: 100%;
}

.edit-mode {
  display: flex;
}

.select-start-screen {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  color: #4262ff;
}

.play-button {
  width: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.hotspot-button {
  margin-right: 16px;
}

.hotspot-button span {
  margin-left: 4px;
}

.link-button span {
  margin-left: 2px;
}

.exit-button {
  width: 48px;
  margin: 0 8px;
  font-weight: bold;
}

.screen-number {
  height: 48px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.prev-button,
.next-button {
  width: 40px;
}

.next-button {
  margin-right: 8px;
  transform: rotate(180deg);
}

.btn--disabled {
  pointer-events: none;
  cursor: default;
  color: #999;
}
