<br /><br />
<div class="media">
  <img
    class="mr-3"
    style="width: 8rem;"
    src="https://cdn-icons-png.flaticon.com/512/497/497492.png"
  />
  <div class="w-50">
    <h5 class="mt-0">Miro REST sticky notes</h5>
    This app demonstrates the use of the Miro REST API
    <a
      href="https://developers.miro.com/reference/delete-sticky-note-item"
      target="_blank"
    >sticky note endpoints</a>. It makes use of each of the available CRUD
    (create, read, update, delete) methods to add and manage Sticky Notes on a
    Miro board. It also provides an example of creating Miro Sticky Notes from
    external structured data (.CSV file).
    <br /><br />Use the navigation at the top to explore these capabilities, and
    the board below to view your updates.
    <br /><br />
    <form class="form form-group" action="/" method="POST">
      <div class="form-components-container">
        <input
          class="btn btn-primary w-100"
          id="submit"
          type="submit"
          value="Authorize App"
        />
      </div>
    </form>
  </div>
</div>