.timer-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-height: 4em;
}

.timer-control {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-right: 0.5em;
}

.timer-display {
  font-size: 2em;
}
