html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.scrollable-container {
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-left: 23px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.scrollable-content {
  height: 2000px;
  background-color: #2a79ff;
}
.traits-count-input {
  width: 200px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  height: 30px;
  vertical-align: middle;
}

.create-pair-button {
  display: inline-block;
  width: 200px;
  background: none;
  border: 1px solid #4262ff;
  color: #4262ff;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
}

.update-benefits-button {
  display: inline-block;
  width: 200px;
  background: none;
  border: 1px solid #4262ff;
  color: #4262ff;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
}

.update-benefits-button:hover {
  background-color: #45a049;
}

.create-pair-button:hover {
  background-color: #45a049;
}

.input-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
