# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
dist
dist-ssr
*.local

# misc
.DS_Store

# local env files
.env

# JetBrains IDE local config files
.idea
.idea/*

# VS Code local config files
.vscode/

