.manager-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1em;
}

.validation-messages {
  background: #f5f5f3;
  padding: 1em;
}

.validation-messages .validation-messages-title {
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
  color: #656b81;
}

.validation-messages .validation-messages-items {
  font-size: 0.9em;
  padding-left: 1.6em;
  margin-bottom: 0;
}

.validation-messages-items li + li {
  margin-top: var(--space-xsmall);
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.toolbar button {
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 1em;
}
