.manager-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--space-small);
}

.validation-messages {
  background: var(--indigo50);
  border-radius: var(--border-radius-medium);
  padding: var(--space-medium);
}

.validation-messages .validation-messages-title {
  font-size: 1em;
  font-weight: 600;
  line-height: var(--space-small);
  margin: 0;
  color: var(--indigo600);
}

.validation-messages .validation-messages-list {
  font-size: 0.9em;
  padding-left: var(--space-small);
  margin-bottom: 0;
}

.validation-messages-item + .validation-messages-item {
  margin-top: var(--space-xsmall);
}

.validation-messages-item::marker {
  color: var(--indigo500);
  padding-left: var(--space-small);
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-small);
}

.toolbar button {
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: var(--space-small);
}
