.manager-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  flex: 1;
}

.breakout-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation-messages {
  background: #f5f5f3;
  padding: 1em;
}

.validation-messages .validatino-messages-title {
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
  color: #656b81;
}

.validation-messages .validatino-messages-items {
  font-size: 0.9em;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.toolbar button {
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 1em;
}
