<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/mirotone/dist/styles.css" />
    <style>
      .button-signin {
        color: var(--indigo700);
        border-color: var(--yellow700);
        background-color: var(--yellow700);
      }
    </style>
  </head>

  <body>
    <div class="grid">
      <div class="cs1 ce12">
        <h1>Welcome to the API Starter!</h1>
        <p>Please log in</p>
      </div>
      <div class="cs1 ce6">
        <button
          class="button button-signin"
          onclick="window.location.href='{{ url_for( &quot;login&quot;) }}'"
        >
          Sign in to Miro
        </button>
      </div>
    </div>
  </body>
</html>
