.waiting-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  height: 100%;
}

.waiting-room-message {
  background: var(--indigo50);
  padding: var(--space-small);
  border-radius: 0.5em;
}

.waiting-room-message h1 {
  font-size: 1.5em;
}

.waiting-room-container .waiting-icon {
  margin: auto;
}
