*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 20px 24px;
}

.container {
  max-width: 580px;
  margin: 0 auto;
  background-color: var(--indigo50);
  padding: var(--space-xxxlarge);
  border-radius: var(--border-radius-xlarge);
}

img {
  max-width: 100%;
}

.button {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.tabs {
  width: 100%;
}

.form-group {
  width: 100%;
}

.preview-container {
  height: 600px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.draggable-item {
  margin-left: 32px;
  margin-bottom: 32px;
  width: 112px;
  height: 112px;
  max-width: 112px;
  max-height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  cursor: grab;
}
